.evaluatorFormContainer {
  background-color: #020817;
  color: #f1f5f9;
  border-radius: 8px;
  width: 100%;
  margin: 0 auto;
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.5);
  /* display: flex; */
  /* border: 1px solid #334155; */
}

.evaluatorFormHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 24px;
  border-bottom: 1px solid #334155;
}

.evaluatorFormHeader h2 {
  margin: 0;
  font-size: 1.1rem;
}

.evaluatorFormBody {
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.formGroup {
  display: flex;
  flex-direction: column;
  gap: 8px;
  /* padding: 10px; */
}

.formGroup label {
  font-weight: 500;
  color: #f1f5f9;
}

.formGroup .description {
  font-size: 0.875rem;
  color: #6b7280;
  margin: 0;
}

input[type="text"],
textarea {
  background-color: #020817;
  border: 1px solid #334155;
  border-radius: 4px;
  padding: 10px;
  color: #f1f5f9;
  font-family: inherit;
  width: 100%;
}

input[type="text"]:focus,
textarea:focus {
  outline: none;
  border-color: #3b82f6;
}

.checkboxGroup {
  display: flex;
  align-items: center;
  gap: 8px;
}
.checkboxGroup label {
  font-weight: normal;
}

.modelInfo {
  font-size: 0.875rem;
  color: #f1f5f9;
  display: flex;
  align-items: center;
  gap: 8px;
  background-color: #020817;
  padding: 8px 12px;
  border-radius: 4px;
}

.modelName {
  color: #6ee7b7;
}

.formFooter {
  display: flex;
  justify-content: flex-end;
  padding-top: 16px;
  padding-right: 20px;
}

/* 이 부분을 기존 CSS 파일에 추가하세요 */
.formSectionBox {
  border: 1px solid #334155; /* 박스 테두리 */
  border-radius: 8px; /* 둥근 모서리 */
  padding: 24px; /* 내부 여백 */
  display: flex;
  flex-direction: column;
  gap: 24px; /* 박스 내부 항목 간의 간격 */
}

.saveButton {
  background-color: #334155;
  color: #f1f5f9;
  order: none;
  border-radius: 4px;
  padding: 10px 20px;
  cursor: pointer;
  border: none;
  font-size: 16px;
}

.editButton {
  background-color: #020817;
  cursor: pointer;
  border-radius: 4px;
  border: none;
  color: #f1f5f9;
}

/* CustomEvaluator.module.css 파일 맨 아래에 추가 */

.variablesContainer {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-top: 12px;
}

.variablesLabel {
  font-size: 12px;
  font-weight: bold;
  color: #f1f5f9;
}

.variableTag {
  background-color: #020817;
  color: #f1f5f9;
  padding: 4px 8px;
  border-radius: 4px;
  font-size: 13px;
  font-family: monospace;
  border: 1px solid #334155;
}